<!-- extend base layout -->
{% extends "base.html" %}
{% block form %}
    <form action="" method="post" name="full">
        {{ fform.hidden_tag() }}
            <h2 style="display:inline;"> Starting Rank </h2> {{ fform.rank(size=20) }}
            {% for error in fform.rank.errors %}
                <span style="color: red;"> <br>[{{ error }}]</span>
            {% endfor %}<br>
        {{ fform.hidden_tag() }}
            <h2 style="display:inline;"> Current Stars </h2> {{ fform.current_stars(size=20) }}
            {% for error in fform.current_stars.errors %}
                <span style="color: red;"> <br>[{{ error }}]</span>
            {% endfor %}<br>
        {{ fform.hidden_tag() }}
            <h2 style="display:inline;"> On Win Streak </h2> {{ fform.win_streak(size=20) }}
            {% for error in fform.win_streak.errors %}
                <span style="color: red;"> <br>[{{ error }}]</span>
            {% endfor %}<br>
        {{ fform.hidden_tag() }}
            <h2 style="display:inline;"> Goal Rank </h2> {{ fform.goal(size=20) }}
            {% for error in fform.goal.errors %}
                <span style="color: red;"> <br>[{{ error }}]</span>
            {% endfor %}<br>
        {{ fform.hidden_tag() }}
            <h2 style="display:inline;"> Winrate </h2> {{ fform.winrate(size=20) }}
            {% for error in fform.winrate.errors %}
                <span style="color: red;"> <br>[{{ error }}]</span>
            {% endfor %}<br>
        <p><input type="submit" value="Enter"></p>
    </form>
{% endblock %}
